# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL=pending
POSTGRES_PRISMA_URL=pending
POSTGRES_URL_NON_POOLING=pending

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth
GOOGLE_CLIENT_ID=pending
GOOGLE_CLIENT_SECRET=pending

# Stellar Issuer Account Keys
NEXT_PUBLIC_ISSUER_PUBLIC_KEY=pending
ISSUER_PUBLIC_KEY=pending
ISSUER_PRIVATE_KEY=pending


# Contract
NEXT_PUBLIC_WHATSAPP_NUMBER=+XXXXXXXXX

DOMAIN=entryx.me